<html>
    <head>
        {%load static%}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <title>second page</title>
    </head>
    
        
    
    <body>
        <div class="header">
        <h1>THE STATE UNIVERSITY OF ZANZIBAR(SUZA)</h1>
        <div class="image"> <img src="images/img1.png" ></div>
        
        <div class="menu">
            <b>
            <a href="#">Home</a>
            <a href="About.html">About</a>
             <a href="form" >Form</a>
             <a href="news" >Announcement</a>

            <a href="login" >Login</a>
         </b>  
       </div>
       </div>
       <div class="content">
        <div class="program">
            <b><p>Your warmly Welcome!</p></b>
           <strong> <h3>Featured Program</h3></strong>
            <b><ul>
                <li>Bachelor degree</li>
                <li>Diploma</li>
                <li>Certificate</li>
                <li>Bachelor degree</li>
                <li>Diploma</li>
                <li>Certificate</li>

            </ul></b>
        </div>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    
    <div class="footer" >
        <b><center><p>& copy;2023 SUZA . All rights reserved.</p></center></b>

        
        
    </body>
</html>