<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/icon/font-awesome/css/all.min.css">
    <title>Document</title>
</head>
  <style>
    .menu{
    
    
        background-color: azure;
        width: 1560px;
        height: 50px;
        float: right;
        word-spacing: 20px;
        position: relative;
        margin-bottom: 10px;
        
    }
    body {
        background-color:  #0D98BA;
    }
    .image{
        float: right;
        width: 700px;
        height: 50px;

    }
  h1{
    padding-left: 50px;
  }
    
  </style>
<body>
   
  <div id="news">
    <h1>EVENTS</h1>
   
    
    <form>
      <label for="desc">Description</label>
      <textarea  id="description" cols="30"  rows="10"></textarea><br><br>
        <label for="feedback">Feedback</label>
        <textarea  id="feedback" rows="3"></textarea><br><br>
         
        <input type="submit" value="submit">
    </form>


</body>
</html>