
    h1{
        text-align: center;
        color: black;
        background-color: #FFFFD5;
    }
    body{
        background-color: #0D98BA;
    }
    .container{
        font-size: 2px;
        font-weight: bolder;
    }
   
